@each $name, $color in $colors {
	.bg--#{$name} {
		background-color: $color;
		&-i {
			color: $color !important;
		}
	}

	.clr--#{$name} {
		color: $color;
		&-i {
			color: $color !important;
		}
	}

	.bdr--#{name} {
		border: 1px solid #{$color};
		&-i {
			border: 1px solid #{color}!important;
		}
	}
}
