fieldset {
  @include m('v', 'xl');
  @include p('u', 'm');
  @include p('t', 'xl');
}

legend {
  @include p('h', 'l');
  font-weight: 700;
}

label {
  @include text('m');
  @include m('b', 'm');
  font-weight: 700;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="website"],
input[type="color"],
input[type="tel"] {
  @extend %focus;
  @include p('u', 's');
  @include m('t', 'xs');
  @include m('b', 'xl');
  @include col($columns);
  @include text('m');
  @include clr('black');
  @include d('b');
}

input[type="checkbox"],
input[type="radio"] {
  @include d('n');
}

input[type="checkbox"] {
  & + span {
    @include bg('white');
    @include bdr('u', 'grey');
    @include p('u', 's');
    @include m('t', 'xs');
    @include d('b');
    cursor: pointer;
    height: 15px;
    position: relative;
    width: 15px;

    &::before {
      @extend .ion-checkmark-round:before;
      @include text('m');
      @include clr('grey');
      left: 3px;
      opacity: .3;
      position: absolute;
      right: 0;
      top: 2px;
    }
  }

  &:checked {
    & + span::before {
      @include text('m');
      @include clr('black');
      opacity: 1;
    }
  }
}

input[type="radio"] {
  & + span {
    @include bg('white');
    @include bdr('u', 'grey');
    @include p('u', 's');
    @include m('t', 'xs');
    @include rad('u', 'xl');
    cursor: pointer;
    display: block;
    height: 15px;
    position: relative;
    width: 15px;

    &::before {
      @extend .ion-record:before;
      @include text('s');
      @include clr('grey');
      left: 5.7px;
      opacity: .3;
      position: absolute;
      right: 0;
      top: 5.4px;
    }
  }

  &:checked {
    & + span::before {
      @include clr('black');
      opacity: 1;
    }
  }
}

textarea {
  @extend %focus;
  @include p('u', 's');
  @include m('t', 'xs');
  @include m('b', 'm');
  @include col($columns);
  @include text('m');
  @include clr('black');
  @include d('b');
  -webkit-appearance: textfield;
  font-weight: 300;
  min-height: 300px;
  resize: vertical;
}

input[type="color"] {
  @extend %focus;
  @include bg('white');
  @include bdr('u', 'grey');
  @include p('u', 'n');
  @include m('u', 'n');
  height: 0;
  visibility: hidden;

  & + span {
    @extend .ion-paintbucket;
    @include p('u', 'm');
    @include col($columns);
    @include bdr('u', 'grey');
    @include text('l');
    @include d('b');
  }
}

%focus {
  font-weight: 300;
  outline-width: 1px;
  outline-color: rgba(map-get($colors, 'blue'), 0);
  outline-offset: 0px;

  &:focus {
    @include transition('outline-color', 'fast');
    outline-color: rgba(map-get($colors, 'blue'), 0.5);
  }
}
