meter {
  @include col($columns);
  height: $baseline;
}

meter::-webkit-meter-bar {
  @include bg('black');
  background: none;
  // background-image: $linear-gradient;
}

meter::-webkit-meter-optimum-value {
  @include bg('green');
  background: none;
}

meter::-webkit-meter-suboptimum-value {
  @include bg('yellow');
  background: none;
}

meter::-webkit-meter-even-less-good-value {
  @include bg('red');
  background: none;
}
