.footer {
	@include bg('black');
	@include clr('white');
	@include p('h', 'xl');
	@include p('t', 'xxl');
	background-image: url('/assets/img/bg-bw-5.svg');
	background-size: 150px;
	background-position-x: 50%;

	&__column {
		@include bg('black');
		@include p('u', 'xl');
	}

	&__logo {
		@include col($columns / 4);
		@include p('l', 'n');
	}

	&__form {
		@include m('b', 'n');
		fieldset {
			@include m('t', 'n');
			@include p('h', 'xl');
		}
		textarea {
			min-height: 0;
		}
	}

	&__feed {

	}

	&__article {
		a {
			&:before {
				@include d('n');
			}
		}
	}

	.btn {
		@include m('t', 'l');
		@include m('b', 'n');
	}

	&__copyright {
		@include p('v', 'l');
		@include bdr('t', 'white');
		@include bg('black');
		@include clr('white');
		@include p('h', 'xl');
		clear: both;
	}
}
