.hero {
	@include bg('black');
	@include p('h', 'xl');
	@include col($columns);
	@include d('b');

	height               : 100vh;
	text-align           : left;
	background-position-x: 50%;
	background-size      : 150px;
	position             : relative;
	padding-top: 15vh;
	overflow: hidden;

	&.loading {
		background: ('black', 1, 'darkest');
	}

	&.loaded {
		.hero__container {
			@include transition('opacity', 'slow');
			opacity: 1;
		}

	}

	&__container {
		@include bg('white');
		@include clr('black');
		@include rad('u', 's');
		opacity: 0;
	}

	&__text {
		@include p('h', 'xl');
		@include bg('black');
		@include clr('white');
		@include text('xxl');
		@include font('light');
		@include p('v', 'l');
		@include m('b', 'n');
		@include bg('black');
		//TODO fixe the rad mixin to allow for these
		border-top-left-radius: map-get($sizes, 's');
		border-top-right-radius: map-get($sizes, 's');
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		p {
			@include m('u', 'n');
		}
	}

	&__leader {
		@include p('h', 'xl');
		@include font('light');
		@include p('v', 'm');
		@include m('b', 'n');
		max-width: 100%;
		border-top-left-radius: map-get($sizes, 's');
		border-top-right-radius: map-get($sizes, 's');
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		p {
			@include m('u', 'n');
		}
	}

	&__intro {
		@include p('h', 'xl');
		@include m('u', 'n');
		max-width: 100%;
	}

	&__cta {
		@include p('h', 'xl');
		@include p('t', 'xl');

		.btn {
			@include d('b');
			@include col(4);
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
