.project {
  opacity: 0;
  &__container {
    @include p('h', 'xl');
    @include p('b', 'xxxl');
    @include bdr('b', 'grey');
    &.loaded {
      .project {
        @include transition('opacity', 'slow');
        opacity: 1;
      }
    }
  }

  &__header {
  }

  &__title {

  }

  &__summary {

  }

  &__info {
    @include p('h', 'xl');
    @include m('t', 'xxl');
    clear: both;
  }
}
